syntax: glob

/.gradle/
/gradle/
gradlew
gradlew.bat

/.idea/modules/
/.idea/libraries/
/.idea/uiDesigner.xml

/.vertx/
*gen/


/launcher/src/main/java/Todo.java

/misc/id_rsa
/shared/common/src/main/resources/config.json
/launcher/src/main/resources/local.json
/src/main/resources/templates/recommender.hbs
/src/main/resources/server.json
/MovieDiary.mv.db
/MovieDiary.trace.db
