/src/main/generated/
/database/src/main/generated/
/mail/src/main/generated/
/tmdb/src/main/generated/
/misc/id_rsa
/common/src/main/resources/server.json
/omdb/src/main/generated/
/common/src/main/generated/
/gateway/src/main/generated/
/.vertx/
/src/main/resources/server.json
/templ-handlebars/src/main/generated/
/node_modules/
