<configuration>
    <logger name="io.netty" level="INFO"/>
    <logger name="com.mchange" level="INFO"/>
    <logger name="com.mchange.v2" level="WARN"/>
    <!--<appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <append>true</append>
        <file>logback.log</file>
        <encoder charset="UTF-8">
            <pattern>[%date] [%thread] %msg %n</pattern>
        </encoder>
    </appender>-->

    <!--<appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>1000</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <neverBlock>true</neverBlock>
        <appender-ref ref="FILE" />
    </appender>-->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %highlight(%-1level) \(%file:%line\) - %msg %n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <!--<appender-ref ref="ASYNC" />-->
    </root>
</configuration>