.moviesContainer {
}

.moviesProfileCard {
    margin-top: 10em;
    padding-top: 1em;
    padding-left: 3em;
    background: white;
    position: relative;
    display: block;
}

.moviesPoster {
    width: 13em;
    top: -5em;
    box-shadow: 0 0 1em rgba(0,0,0,0.3);
    position: absolute;
    opacity: 0.7;
}

.moviesYear {
    font-size: larger;
    font-weight: lighter;
    margin-left: 12.5em;
    margin-bottom: .9em;
    display: block;
}

.movieTitle {
    font-size: xx-large;
    font-weight: bold;
    margin-left: 6.5em;
    margin-bottom: .5em;
    display: block;
}

.movieRuntime {
    font-size: larger;
    font-weight: lighter;
    margin-left: 12.5em;
    margin-bottom: .9em;
}

.movieRelease {
    font-size: larger;
    font-weight: lighter;
    margin-left: 2em;
    margin-bottom: .9em;
}

.moviesGenreName {
    background: #D8CA16;
    padding: 0.3em 0.8em;
    border-radius: 0.2em;
    margin-right: 1em;
    font-weight: bold;
    font-size: smaller;
    text-transform: uppercase;
}

.moviesMetaContainer {
    display: block;
    margin-bottom: .8em;
}

.genreContainer {
    margin-left: 15em;
}