.login-body {
    display: table-cell;
    vertical-align: middle;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

body {
    background-size: cover;
    background-attachment: fixed;
}

/*.btn:hover {
    cursor:url(http://puu.sh/vU9WA/71571866ef.gif), auto;
}*/

.not-found-image {
    width: 100%;
}

.wrap {
    margin: auto;
    text-align: center;
    position: relative;
}

.text_over_image {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10%;
    color: #fff;
    font-weight: 200;
    font-size: 5vw;
}

.star-wars {
    cursor: url(/static/img/lightsaber.gif), auto;
}

.star-wars-link:hover {
    cursor: url(/static/img/lightsaber_red.gif), auto;
    text-decoration: underline;
}

.home-link:hover {
    text-decoration: underline;
}

.opacity-footer {
    opacity: 0.85;
}

.episode-card:hover {
    opacity: 0.85;
}

.bc-image {
    background-position: center;
    width: 100%;
    height: 100%;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    background-size: cover;
}

.series-poster {
    height: 11em;
    max-height: 11em;
    min-height: 11em;
    display: block;
}

.img-100 {
    width: 100%;
}

.img-80 {
    width: 80%;
}

.opacity-object {
    opacity: 0.95;
}

.opacity-object-full {
    opacity: 1;
}

.login-form {
    width: 280px;
}

.margin {
    margin: 0 !important;
}

.login-text {
    margin-top: -6px;
    margin-left: -10px !important;
}

.plot-title {
    margin-top: 25px;
}

.page-heading {
    margin: 3% 0 0.5% 4%;
}

.tab-comment {
    margin: 0 0 2% 4%;
}

.collapsible {
    border: none;
    margin: 0.5rem 0 1rem 0;
}

.cursor:hover {
    cursor: pointer;
}

.opacity-object-hover:hover {
    opacity: 0.95;
}

.collapsible-header {
    display: block;
    cursor: pointer;
    min-height: 3rem;
    line-height: 3rem;
    padding: 0 1rem;
    background-color: #fff;
    border-bottom: none;
}

.collapsible-header i {
    width: 2rem;
    font-size: 1.6rem;
    line-height: 3rem;
    display: block;
    float: left;
    text-align: center;
    margin-right: 1rem;
}

.collapsible-header-history {
    border-bottom: 1px solid #ddd;
}

.collapsible-header-tv {
    line-height: 1.7rem;
    padding: 1rem;
}

.smaller {
    font-size: smaller;
}

.collapsible-body {
    display: none;
    border-bottom: none;
    box-sizing: border-box;
    padding: 2rem;
}

.collapsible-body-tv {
    padding: 1em 0;
}

.movies-heading {
    padding: 1% 0 1% 4%;
    margin: 1% 0 1% 0;
    background: white;
    opacity: 0.95;
}

.home-content-card {
    padding: 15px;
}

.logout-button {
    margin: 0 0 2% 4%;
}

.table-row {
    padding: 0 0 0 3%;
}

.btn:focus,
.btn:hover {
    opacity: 0.6;
    /*background-color: ButtonHighlight !important;*/
}

.btn {
    text-transform: none;
}

.whole-season {
    font-size: larger;
}

.whole-season:hover {
    opacity: 0.85;
}

.collapsible.popout > li {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin: 0;
    transition: margin 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.collapsible.popout > li.active {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    margin: 16px 0;
}

.content-key {
    font-weight: bold;
}

span.badge.new:after {
    content: "";
}

.card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    height: 100%;
}

.card .card-map {
    width: 100%;
    height: 420px;
}

.not-found {
    margin: 15px;
    font-size: xx-large;
}

.history-add-info {
    margin: 15px;
}

.not-found-info {
    margin: 15px;
    font-size: large;
}

.poster-image {
    vertical-align: middle;
}

.footer-logo {
    width: 75%;
    margin-left: 30%;
    margin-top: 12%;
}

.footer-logo-all {
    width: 75%;
    margin-left: 30%;
}

.search-object-text {
    margin-left: 5%;
    font-size: larger;
    font-weight: bold;
}

.add-wishlist:hover {
    background: #dbded9;
    cursor: pointer;
}

.star-wars-add-wishlist:hover {
    background: #dbded9;
    cursor: url(/static/img/lightsaber_red.gif), auto;
}

.container {
    width: 90%;
}

.oscar-statue {
    max-width: 6%;
    margin-right: 0.5em;
}

.oscar-container {
    padding-bottom: 0;
}

.last-row {
    margin-bottom: 0;
}

.description {
    font-weight: 300;
}

.movie-in-wishlist {
    background: #21ff6e;
}

.wishlist-text {
    color: white;
}

.hover-text:hover,
.hover-text:focus {
    color: white;
}

.search-object:hover,
.search-object:focus {
    background: #bfc2be;
    cursor: pointer;
}

.search-object-series:hover,
.search-object-series:focus {
    opacity: 0.85;
    cursor: pointer;
}

.wishlist-object:hover {
    opacity: 0.9;
    filter: alpha(opacity=90)
}

.history-date {
    margin-bottom: 3px;
}

.history-date {
    font-size: x-large;
}

.series-search-title {
    font-size: large;
}

.episodes-count {
    font-weight: 900;
    opacity: 0.6;
    font-size: 2em;
}

.top-movies-home {
    font-weight: 900;
    opacity: 0.6;
    font-size: 2em;
}

.episodes-seen {
    margin-left: 1em;
}

.series-date {
    margin-left: 0.5em;
    font-size: smaller;
}

.fa-lg {
    font-size: 1.15em;
    line-height: 0.75em;
    vertical-align: -15%;
}

.load-more:hover,
.load-more:focus,
.search-button:hover {
    cursor: pointer;
}

.statistics-chart-days {
    height: 250%;
}

.statistics-chart-days-small {
    height: 300%;
}

.statistics-chart-time {
    height: 250%;
}

.statistics-chart-time-small {
    height: 550%;
}

.statistics-chart-years {
    height: 100%;
}

.statistics-chart-years-small {
    height: 900%;
}

.custom-truncate {
    display: block;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.load-more {
    font-weight: bold;
}

.search-image {
    vertical-align: middle;
    padding: 0;
}

.history-object:hover,
.history-object:focus {
    background: #f2f5f0;
}

.movie-poster {
    width: 100%;
}

.flag {
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.description {
    font-weight: 300;
}

.pagination li.active {
    background: #00bcd4;
}

.tv-season-title {
    font-weight: 500;
    font-size: x-large;
}

.pagin-button {
    background: #ffffff;
    margin: 0.3em;
    padding: 0.1em;
}

.pagin-text {
    font-size: larger;
    font-weight: 500;
    padding: 0.5em;
}

.pagin-container {
    margin-bottom: 0.8em;
    margin-top: 0.8em;
}

.season-add-info {
    margin-left: 1em;
}

.flag:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

@media only screen and (min-width: 1071px) {
    #forgot-password {
        padding-left: 0;
    }
}

/* Nav bar centering */
#nav-bar {
    float: left;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#nav-bar ul {
    clear: left;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    text-align: center;
}

#nav-bar ul li {
    display: block;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    right: 50%;
}

.navbar-text {
    font-weight: 300;
    font-size: larger;

}

.navbar-text-active {
    font-weight: 900;
    font-size: larger;
}

.scale-transition {
    transition: -webkit-transform .5s cubic-bezier(0.53, 0.01, 0.36, 1.3) !important;
    transition: transform .5s cubic-bezier(0.53, 0.01, 0.36, 1.3),
    -webkit-transform .5s cubic-bezier(0.53, 0.01, 0.36, 1.3) !important;
}

.scale-transition.scale-out {
    -webkit-transform: scale(0);
    transform: scale(0);
    transition: -webkit-transform .4s !important;
    transition: transform .4s !important;
}

/* Mobile nav bar button */
.sidebar-collapse {
    position: absolute;
    left: 10px;
    top: 20px;
}

header .brand-logo:hover {
    background-color: transparent;
}

/* Mobile mode */
@media only screen and (max-width: 601px) {

    /* Left side nav bar height */
    ul.side-nav.leftside-navigation {
        top: 60px !important;
    }

    /* Mobile nav bar button */
    .sidebar-collapse {
        top: 10px;
    }

    .movies-search-bar {
        width: 100%;
    }

    .quick-button {
        margin-top: 20px;
    }

    .episodes-count {
        font-weight: 900;
        opacity: 0.6;
        font-size: 1em;
    }

    .episodes-seen {
        margin-left: 0.5em;
    }

    .collapsible-body-tv {
        padding: 2em 0;
    }

    .text_over_image {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 5%;
        color: #fff;
        font-weight: 200;
        font-size: 8vw;
    }

    .footer-logo {
        width: 50%;
        margin-left: 0;
        margin-top: 0;
    }

    .footer-logo-all {
        width: 50%;
        margin-left: 0;
    }
}

/* Tablet mode */
@media only screen and (min-width: 500px) and (max-width: 992px) {

    /* Left side nav bar height */
    ul.side-nav.leftside-navigation {
        top: 64px !important;
    }

    .quick-button {
        margin-top: 20px;
    }

    /* h3 {
         position: absolute;
         top: -8px;
         padding-left: 2%;
         width: 100%;
     }*/
    .collapsible-body-tv {
        padding: 2em 0;
    }

    .text_over_image {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 5%;
        color: #fff;
        font-weight: 200;
        font-size: 7vw;
    }
}

/* Navbar fix */
@media only screen and (max-width: 852px) {
    .hide-nav-bar {
        display: none !important;
    }
}

@media only screen and (min-width: 853px) {
    .hide-menu-button {
        display: none !important;
    }
}

/*
!* Scroll bar*!
.test {
    overflow: auto;
    overflow-x: auto;
    overflow-y: auto;
}*/