html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

header{
    position: absolute;
    left: 2em;
    top: 2em;
}

.index-logo-top {
    width: 70%;
}