<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Form Login</title>
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/static/css/custom/base.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="/static/css/custom/page-center.css" type="text/css" rel="stylesheet" media="screen,projection">
</head>
<body class="cyan login-body">
<div class="row">
    <div class="col s12 z-depth-0 card-panel">
        <form class="login-form" method="post" action="{{callbackUrl}}">
            <div class="row">
                <div class="input-field col s12 center">
                    <h5 class="center grey-text">Log in</h5>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12">
                    <i class="fa fa-user-o prefix" aria-hidden="true"></i>
                    <input id="username" type="text" name="username" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12">
                    <i class="fa fa-lock prefix" aria-hidden="true"></i>
                    <input id="password" type="password" name="password" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m12 l12 login-text">
                    <input type="checkbox" id="remember-me">
                    <label for="remember-me">Remember me</label>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12">
                    <button type="submit" class="btn waves-effect waves-light col s12">
                        <i class="fa fa-sign-in left"></i>Login
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 m6 l6" id="register-now">
                    <p class="margin medium-small">
                        <a href="{{registerUrl}}">Register!</a>
                    </p>
                </div>
                <div class="input-field col s6 m6 l6" id="forgot-password">
                    <p class="margin right-align medium-small">
                        <a href="">Forgot password ?</a>
                    </p>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="/static/js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/static/js/materialize.min.js"></script>
<script type="text/javascript" src="/static/js/plugins.js"></script>
</body>
</html>