<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>History</title>
    <link href="/static/css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" media="screen,projection">
    <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/static/css/custom/style.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="/static/css/custom/base.css" type="text/css" rel="stylesheet" media="screen,projection">
</head>
<body class="blue lighten-5">
{{> templates/navigationBar.hbs}}
<h3 class="light grey-text text-lighten-1 page-heading">History</h3>
<div class="row">
    <div class="col s12 m10 offset-m1 l10 offset-l1"> <!-- small 12/12, med 10/12 1/12 sides, large 10/12 1/12 sides-->
        <div class="row">
            <div class="col s12 m12 l2"> <!-- small 12/12, med 12/12, large 2/12-->
                <div class="card small z-depth-0">
                    <div class="card-content">
                        <span class="card-title">Filters</span>
                        <div class="row">
                            <div class="input-field login-text">
                                <input id="seenFirst" type="checkbox">
                                <label for="seenFirst">Seen first time</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field login-text">
                                <input id="wasCinema" type="checkbox">
                                <label for="wasCinema">Seen in cinema</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12 m12 l4"> <!-- small 12/12, med 12/12, large 4/12-->
                <div class="card small z-depth-0">
                    <div class="card-content">
                        <span class="card-title">Search between dates</span>
                        <div class="section">
                            <div class="input-field login-text">
                                <input id="startingDay" type="date" class="datepicker">
                                <label for="startingDay">Starting day</label>
                            </div>
                        </div>
                        <div class="row margin">
                            <div class="input-field login-text">
                                <input id="endDay" type="date" class="datepicker">
                                <label for="endDay">End day</label>
                            </div>
                            <div class="input-field">
                                <button id="Search" type="submit"
                                        class="btn waves-effect waves-light col s12 z-depth-0">
                                    <i class="fa fa-search left"></i>Search
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12 m12 l6"> <!-- small 12/12, med 12/12, large 6/12-->
                <div class="card small z-depth-0">
                    <div class="card-content">
                        <div class="row">
                            <div class="col s4"> <!--4/12-->
                                <span class="card-title">Quick search</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s4 offset-s2 input-field"> <!--4/12, sides 2/12-->
                                <button type="submit" class="btn waves-effect waves-light col s12 z-depth-0">
                                    <i class="fa fa-search left"></i>Today
                                </button>
                            </div>
                            <div class="col s4 input-field"> <!--4/12-->
                                <button type="submit" class="btn waves-effect waves-light col s12 z-depth-0">
                                    <i class="fa fa-search left"></i>This week
                                </button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s4 input-field"> <!--4/12-->
                                <button type="submit" class="btn waves-effect waves-light col s12 z-depth-0">
                                    <i class="fa fa-search left"></i>This month
                                </button>
                            </div>
                            <div class="col s4 input-field"> <!--4/12-->
                                <button type="submit" class="btn waves-effect waves-light col s12 z-depth-0">
                                    <i class="fa fa-search left"></i>This year
                                </button>
                            </div>
                            <div class="col s4 input-field"> <!--4/12-->
                                <button type="submit" class="btn waves-effect waves-light col s12 z-depth-0">
                                    <i class="fa fa-search left"></i>All time
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="">
                <div class="card z-depth-0">
                    <table class="highlight responsive-table">
                        <thead class="grey-text">
                        </thead>
                        <tbody id="table" class="grey-text">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="/static/js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/static/js/materialize.min.js"></script>
<script type="text/javascript" src="/static/js/plugins.js"></script>
<script type="text/javascript" src="/static/js/sockjs-0.3.4.min.js"></script>
<script type="text/javascript" src='/static/js/vertx-eventbus.js'></script>
<script>
    //kõik on asynchronous, function () {} kutsutakse välja nagu vertxi handlerit
    $(document).ready(function () { //siis kui leht laetud
        console.log("Hello world!");

        $("#Search").click(function () {
            var eventbus = new EventBus("{{eventbus}}");
            eventbus.onopen = function () {
                eventbus.send("database_get_history",
                        {
                            'is-first': $("#seenFirst").is(':checked'),
                            'is-cinema': $("#wasCinema").is(':checked'),
                            'start': $("#startingDay").pickadate('picker').get(),
                            'end': $("#endDay").pickadate('picker').get()
                        }
                        , function (error, reply) {
                            console.log(reply.body);
                            var data = reply.body['rows'];
                            $("#table").empty().append(
                                    '<tr>' +
                                    '<th class="table-row">Title</th>' +
                                    '<th>Date</th>' +
                                    '<th class="center">Watched first time</th>' +
                                    '<th class="center">Watched in cinema</th>' +
                                    '</tr>');
                            Materialize.toast("Retrieved movies from database!", 5000);

                            $.each(data, function (i) {

                                $("#table").append(
                                        '<tr>' +
                                        '<td class="table-row">' + data[i].Title + '</td>' +
                                        '<td>' + data[i].Start + '</td>' +
                                        '<td class="center"><i class=' + data[i].WasFirst + '></i></td>' +
                                        '<td class="center"><i class=' + data[i].WasCinema + '></i></td>' +
                                        '</tr>');
                            });
                        });

            }
        });
    });
</script>
</body>
</html>