<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alternative History</title>
    <link href="/static/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" media="screen,projection">
    <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="/static/css/custom/base.css" type="text/css" rel="stylesheet" media="screen,projection">
</head>
<body class="blue lighten-5">
{{> templates/navigationBar.hbs}}
<div class="row">
    <div class="col s12 m12 l2">
        <h3 class="light grey-text text-lighten-1 page-heading center">History</h3>
    </div>
</div>
<div class="row">
    <div class="col s12 m10 offset-m1 l10 offset-l1"> <!-- small 12/12, med 10/12 1/12 sides, large 10/12 1/12 sides-->
        <div class="row">

            <div class="col s12 m12 l2"> <!-- small 12/12, med 12/12, large 2/12-->
                <div class="card small">
                    <div class="card-content">
                        <span class="card-title">Filters</span>
                        <div class="row">
                            <div class="input-field login-text">
                                <input id="seenFirst" type="checkbox">
                                <label for="seenFirst">Seen first time</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field login-text">
                                <input id="wasCinema" type="checkbox">
                                <label for="wasCinema">Seen in cinema</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12 m12 l4"> <!-- small 12/12, med 12/12, large 4/12-->
                <div class="card small">
                    <div class="card-content">
                        <span class="card-title">Search between dates</span>
                        <div class="section">
                            <div class="input-field login-text">
                                <input id="startingDay" type="date" class="datepicker">
                                <label for="startingDay">Starting day</label>
                            </div>
                        </div>
                        <div class="row margin">
                            <div class="input-field login-text">
                                <input id="endDay" type="date" class="datepicker">
                                <label for="endDay">End day</label>
                            </div>
                            <div class="input-field">
                                <button type="submit" class="btn waves-effect waves-light col s12">
                                    <i class="fa fa-search left"></i>Search
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12 m12 l6"> <!-- small 12/12, med 12/12, large 6/12-->
                <div class="card small">
                    <div class="card-content">
                        <div class="row">
                            <div class="col s4"> <!--4/12-->
                                <span class="card-title">Quick search</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s4 offset-s2 input-field"> <!--4/12, sides 2/12-->
                                <button type="submit" class="btn waves-effect waves-light col s12">
                                    <i class="fa fa-search left"></i>Today
                                </button>
                            </div>
                            <div class="col s4 input-field"> <!--4/12-->
                                <button type="submit" class="btn waves-effect waves-light col s12">
                                    <i class="fa fa-search left"></i>This week
                                </button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s4 input-field"> <!--4/12-->
                                <button type="submit" class="btn waves-effect waves-light col s12">
                                    <i class="fa fa-search left"></i>This month
                                </button>
                            </div>
                            <div class="col s4 input-field"> <!--4/12-->
                                <button type="submit" class="btn waves-effect waves-light col s12">
                                    <i class="fa fa-search left"></i>This year
                                </button>
                            </div>
                            <div class="col s4 input-field"> <!--4/12-->
                                <button type="submit" class="btn waves-effect waves-light col s12">
                                    <i class="fa fa-search left"></i>All time
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <!-- todo table -->
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/static/js/materialize.min.js"></script>
<script type="text/javascript" src="/static/js/plugins.js"></script>
</body>
</html>