<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>History</title>
    <link href="/static/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" media="screen,projection">
    <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/static/css/custom/style.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="/static/css/custom/base.css" type="text/css" rel="stylesheet" media="screen,projection">
</head>
<body class="blue lighten-5">
{{> templates/navigationBar.hbs}}
<h3 class="light grey-text text-lighten-1 page-heading">History</h3>
<div class="">
    <div class="row">
        <div class="col">
            <div class="card l4">
                <div class="card-content">
                    <span class="card-title">Filters</span>
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="input-field login-text left-align">
                            <input id="seenFirst" type="checkbox">
                            <label for="seenFirst">Seen first time</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field login-text left-align">
                            <input id="wasCinema" type="checkbox">
                            <label for="wasCinema">Seen in cinema</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Search between dates</span>
                    <div class="row"></div>
                    <div class="row">
                        <div class="input-field login-text left-align">
                            <input id="startingDay" type="date" class="datepicker">
                            <label for="startingDay">Starting day</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field login-text left-align">
                            <input id="endDay" type="date" class="datepicker">
                            <label for="endDay">End day</label>
                        </div>
                        <div class="input-field col s12">
                            <button type="submit" class="btn waves-effect waves-light col s12">
                                <i class="fa fa-search left"></i>Search
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Quick search</span>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="input-field s12 l12">
                            <button type="submit" class="btn waves-effect waves-light s12">
                                <i class="fa fa-search left"></i>Today
                            </button>
                        </div>
                        <div class="input-field s12 l12">
                            <button type="submit" class="btn waves-effect waves-light s12">
                                <i class="fa fa-search left"></i>This week
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="input-field s12 l12">
                            <button type="submit" class="btn waves-effect waves-light s12">
                                <i class="fa fa-search left"></i>This month
                            </button>
                        </div>
                        <div class="input-field s12 l12">
                            <button type="submit" class="btn waves-effect waves-light s12">
                                <i class="fa fa-search left"></i>This year
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="input-field s12 l12">
                            <button type="submit" class="btn waves-effect waves-light s12">
                                <i class="fa fa-search left"></i>All time
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col s12 m8 l6">
        <div class="card">
            <div class="card-content white-text">
                <span class="card-title grey-text">History</span>
                <table class="striped highlight responsive-table">
                    <thead class="grey-text">
                    </thead>
                    <tbody id="table" class="grey-text">

                    </tbody>
                </table>
                <div class="card-action">
                    <a id="Search" class="btn waves-effect waves-light">Search</a>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="/static/js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/static/js/materialize.min.js"></script>
<script type="text/javascript" src="/static/js/plugins.js"></script>
<script type="text/javascript" src="/static/js/sockjs-0.3.4.min.js"></script>
<script type="text/javascript" src='/static/js/vertx-eventbus.js'></script>
<script>
    //kõik on asynchronous, function () {} kutsutakse välja nagu vertxi handlerit
    $(document).ready(function () { //siis kui leht laetud
        console.log("Hello world!");

        $("#Search").click(function () { //klikkamine mingile id-ga objectile

            setTimeout(function () { //pmts Thread.sleep() aga javascript ei toeta tavalist sleepi
                var eventbus = new EventBus("{{eventbus}}"); //ühendame eventbusi
                //eventbusi tohiks luua ainult ühe korra ühel lehel, see crap näidis...
                eventbus.onopen = function () { // ühendus loodud
                    setTimeout(function () {
                        //saadame "database_users" aadressile sõnumi, parameetriks {} ehk hetkel tühi jsonobject
                        eventbus.send("database_get_history", {}, function (error, reply) {
                            console.log(reply.body);
                            var data = reply.body['rows'];
                            $("#table").append(
                                    '<tr>' +
                                    '<th>Title</th>' +
                                    '<th>Date</th>' +
                                    '<th class="center">Viewed first time</th>' +
                                    '<th class="center">Viewed in cinema</th>' +
                                    '</tr>');
                            Materialize.toast("Retrieved movies from database!", 5000);

                            $.each(data, function (i) {

                                $("#table").append(
                                        '<tr>' +
                                        '<td>' + data[i].Title + '</td>' +
                                        '<td>' + data[i].Start + '</td>' +
                                        '<td class="center"><i class=' + data[i].WasCinema + '></i></td>' +
                                        '<td class="center"><i class=' + data[i].WasFirst + '></i></td>' +
                                        '</tr>');
                            });
                        });

                    }, 10);
                }
            }, 10);
        });
    });
</script>
</body>
</html>