<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="/static/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" media="screen,projection">
    <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/static/css/custom/style.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="/static/css/custom/base.css" type="text/css" rel="stylesheet" media="screen,projection">
</head>
<body class="blue lighten-5">
{{> templates/navigationBar.hbs}}
<h3 class="light grey-text text-lighten-1 page-heading">Hello {{firstName}}</h3>


<div class="row">
    <div class="col s12 m6">
        <div class="card blue-grey darken-1" style="height: 600px">
            <div class="card-content white-text">
                <span class="card-title">Eventbus testing</span>
                <p id="eventbusText">Nothing going on yet!</p>
                <div class="card-action">
                    <a id="EventbusButton" class="btn waves-effect waves-light">Click me to start</a>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="/static/js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/static/js/materialize.min.js"></script>
<script type="text/javascript" src="/static/js/plugins.js"></script>
<script type="text/javascript" src="/static/js/sockjs-0.3.4.min.js"></script>
<script type="text/javascript" src='/static/js/vertx-eventbus.js'></script>
<!--<script>
    //kõik on asynchronous, function () {} kutsutakse välja nagu vertxi handlerit
    $(document).ready(function () { //siis kui leht laetud
        console.log("Hello world!");

        $("#EventbusButton").click(function () { //klikkamine mingile id-ga objectile
            $("#eventbusText").text("Button clicked, waiting 1 second"); //teksti sättimine

            setTimeout(function () { //pmts Thread.sleep() aga javascript ei toeta tavalist sleepi
                $("#eventbusText").text("Connecting to eventbus...");
                var eventbus = new EventBus("{{eventbus}}"); //ühendame eventbusi
                //eventbusi tohiks luua ainult ühe korra ühel lehel, see crap näidis...

                eventbus.onopen = function () { // ühendus loodud
                    $("#eventbusText").text("Eventbus connected, waiting 1 second");

                    setTimeout(function () {
                        $("#eventbusText").text("Querying users from database...");

                        //saadame "database_users" aadressile sõnumi, parameetriks {} ehk hetkel tühi jsonobject
                        eventbus.send("database_users", {}, function (error, reply) {
                            console.log(reply.body);
                            $("#eventbusText").text("Response: " + JSON.stringify(reply.body));
                            Materialize.toast("Retrieved users from database!", 5000);
                        });

                        //registreerime end aadressile, server saadab siia aegajalt sõnumeid (andmete surumine pmts)
                        eventbus.registerHandler("go_right_through", function (error, message) {
                            Materialize.toast(message.body, 2000);
                        })

                    }, 1000);
                }
            }, 1000);
        });
    });
</script>-->
</body>
</html>