<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#E3F2FD">
    <title>Home</title>
    <link href="/static/css/custom/loader.css" type="text/css" rel="stylesheet" media="screen,projection">
</head>
<body class="blue lighten-5">
<!-- Page loader -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
{{> templates/navigationBar.hbs}}
<h3 class="light grey-text text-lighten-1 page-heading">Hello {{firstName}}</h3>

<div class="row">
    <div class="col s12 m6">
        <div class="card blue-grey darken-1" style="height: 600px">
            <div class="card-content white-text">
                <span class="card-title">Eventbus testing</span>
                <form>
                    <label for="InsertText">Insert message to send!</label>
                    <input id="InsertText" type="text">
                </form>
                <div class="card-action">
                    <a id="EventbusButton" class="btn waves-effect waves-light">Click me to start</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/fallback.min.js"></script>
<script src="/static/js/loaders/ui.js"></script>
<script src="/static/js/loaders/eventbus.js"></script>
<script>
    fallback.ready(['jQuery', 'SockJS', 'EventBus'], function () {
        var eventbus = new EventBus("{{eventbus}}");
        eventbus.onopen = function () {
            eventbus.registerHandler("go_right_through", function (error, message) {
                Materialize.toast(message.body, 2000);
            });
            $("#EventbusButton").click(function () {
                var input = $("#InsertText").val();
                eventbus.send("go_right_through", input, function (error, message) {
                    console.log(message.body)
                });
            });
        };
    });
</script>
</body>
</html>