<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#E3F2FD">
    <title>{{i18n "NAVBAR_HOME" locale=lang}}</title>
    <link href="/static/css/custom/loader.min.css" type="text/css" rel="stylesheet" media="screen">
    <noscript>
        <link href="/static/css/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet" media="screen">
        <link href="/static/css/custom/materialize.min.css" type="text/css" rel="stylesheet" media="screen">
        <link href="/static/css/custom/base.css" type="text/css" rel="stylesheet" media="screen">
    </noscript>
</head>
<body class="blue lighten-5">
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
{{> templates/navbar.hbs}}
<main>
    <h3 class="light grey-text text-lighten-1 page-heading">{{i18n "HOME_HELLO" locale=lang}} {{userFirstName}}</h3>
    <div class="row"></div>
    <div class="row">
        <div class="col s12 m12 l12 xl10 offset-xl1">
            <div class="col s12 m6 l4">
                <!-- Top 5 movies -->
                <div class="col s12 m12 l12">
                    <div class="grey-text text-darken-2 card z-depth-0">
                        <div class="card-content">
                            <h5>Top movies</h5>
                            <span class="grey-text">Times seen</span>
                            <table class="bordered highlight">
                                <tbody id="top-movies-tbody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Last 5 movies kaart -->
                <div class="col s12 m12 l12">
                    <div class="grey-text text-darken-2 card z-depth-0">
                        <div class="card-content">
                            <h5>Last views</h5>
                            <table class="bordered highlight">
                                <tbody id="last-movies-tbody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <!-- Total stats -->
                <div class="col s12 m12 l12">
                    <div class="grey-text text-darken-2 card z-depth-0">
                        <div class="card-content">
                            <h5>Total statistics</h5>
                            <table class="bordered">
                                <tbody id="total-stats-tbody">
                                <tr>
                                    <td class="grey-text">Total views</td>
                                    <td class="content-key grey-text text-darken-1" id="total-views"></td>
                                </tr>
                                <tr>
                                    <td class="grey-text">Total new movie views</td>
                                    <td class="content-key grey-text text-darken-1" id="total-new-movies"></td>
                                </tr>
                                <tr>
                                    <td class="grey-text">Total different movies</td>
                                    <td class="content-key grey-text text-darken-1" id="total-different-movies"></td>
                                </tr>
                                <tr>
                                    <td class="grey-text">Total runtime</td>
                                    <td class="content-key grey-text text-darken-1" id="total-runtime"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <!-- Wishlist -->
                <div class="col s12 m12 l12">
                    <div class="grey-text text-darken-2 card z-depth-0">
                        <div class="card-content">
                            <h5>Latest wishlist</h5>
                            <table class="bordered highlight">
                                <tbody id="wishlist-tbody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{{> templates/footer.hbs}}
<script defer type="text/javascript" src="/static/js/custom/loader.js"></script>
<script defer type="text/javascript" src="/static/js/jquery.min.js"></script>
<script defer type="text/javascript" src="/static/js/custom/materialize.min.js"></script>
<script defer type="text/javascript" src="/static/js/sockjs.min.js"></script>
<script defer type="text/javascript" src="/static/js/custom/vertx-eventbus.js"></script>
<script defer type="text/javascript" src="/static/js/pages/home.js"></script>
</body>
</html>