<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#E3F2FD">
    <title>Movie Diary | Lists</title>
    <link href="/static/css/custom/loader.min.css" type="text/css" rel="stylesheet" media="screen">
    <noscript>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
              type="text/css" rel="stylesheet" media="screen">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"
              type="text/css" rel="stylesheet" media="screen">
        <link href="/static/css/custom/base.css" type="text/css" rel="stylesheet" media="screen">
    </noscript>
</head>
<body class="blue lighten-5">
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
{{> templates/navbar.hbs}}
<main>
    <h3 class="light grey-text text-lighten-1 page-heading">Lists</h3>
    <div class="row"></div>
    <div class="row">
        <div class="col s12 m12 m12">
            <div class="row">
                <div class="col s12 m5 l4 xl3 white"> <!-- Listide nimekiri -->
                    <div class="row">
                        <table>
                            <tbody>
                            <tr>
                                <td>
                                    <!-- Modal Trigger -->
                                    <a class="blue-text text-darken-2 home-link lighten-2 z-depth-0" href="#modalList">Create new list</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <table class="bordered highlight">
                            <tbody id="lists-tabel">
                            <tr>
                                <td class="grey-text content-key">Wishlist</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col s12 m7 l8 xl9"> <!-- Listi sisu peale avamist -->

                </div>
            </div>

            <!-- Modal Structure -->
            <div id="modalList" class="modal z-depth-0">
                <div class="modal-content">
                    <div class=" col s12 m12 l12">
                        <h5>Create new list</h5>
                        <div class="row"></div>
                        <div class="input-field">
                            <input id="createListName" type="text" data-length="50">
                            <label for="createListName">
                                List name
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row"></div>
                <div class="modal-footer">
                    <a class="modal-action waves-effect waves-green btn-flat"
                       id="create-list" onclick="createNewList()">Create</a>
                    <a class="modal-action modal-close waves-effect waves-red btn-flat" id="cancel-new-list">Cancel</a>
                </div>
            </div>

        </div>
    </div>
</main>
{{> templates/footer.hbs}}
<script defer type="text/javascript" src="/static/js/custom/loader.js"></script>
<script defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script defer type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
<script defer type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script defer type="text/javascript" src="/static/js/custom/vertx-eventbus.js"></script>
<script defer type="text/javascript" src="/static/js/pages/lists.js"></script>
</body>
</html>