<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#E3F2FD">
    <title>{{i18n "NAVBAR_MOVIES" locale=lang}}</title>
    <link href="/static/css/custom/loader.css" type="text/css" rel="stylesheet" media="screen">
</head>
<body class="blue lighten-5" id="body">
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
{{> templates/navbar.hbs}}
<h3 class="light grey-text text-lighten-1 page-heading" id="movie-title">{{i18n "NAVBAR_MOVIES" locale=lang}}</h3>
<div class="row">
    <div class="col s12 m12 l12">
        <div class="row">
            <div class="col movies-search-bar m10 offset-m1 l6 offset-l3">
                <div class="card z-depth-0 opacity-object">
                    <div class="search-wrapper input-field">
                        <input class="movies-search-bar movies-heading" id="search" type="search" required>
                        <label class="label-icon" for="search">
                            <i class="fa fa-search left"></i></label>
                    </div>
                </div>
                <ul class="collection movie-search opacity-object" id="search-result" hidden>
                    <!-- Siia tuleb otsingu sisu jqueryga -->
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m10 l10 offset-l2">
            <div class="col s12 m8 l2 scale-transition scale-out hide-on-small-only" id="movie-poster-card"></div>
            <div class="col s12 m6 l4">
                <div class="col card s12 m12 l12 z-depth-0 scale-transition scale-out opacity-object" id="basic-info-box">
                    <div class="card-content">
                        <h5>Basic info</h5>
                        <table>
                            <tbody>
                            <tr>
                                <td class="content-key grey-text">Year</td>
                                <td class="grey-text" id="year"></td>
                            </tr>
                            <tr>
                                <td class="content-key grey-text">Release</td>
                                <td class="grey-text" id="release"></td>
                            </tr>
                            <tr>
                                <td class="content-key grey-text">Runtime</td>
                                <td class="grey-text" id="runtime"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col card s12 m12 l12 z-depth-0 scale-transition scale-out opacity-object" id="seen-times">
                    <div class="card-content">
                        <h5 id="seen-header" class="grey-text">Seen 4 times</h5>
                        <table>
                            <tbody id="movie-views-table">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card z-depth-0 scale-transition scale-out opacity-object" id="add-info-box">
                    <div class="card-content">
                        <h5>Additional info</h5>
                        <table>
                            <tbody>
                            <tr>
                                <td class="content-key grey-text">Language</td>
                                <td class="grey-text" id="language"></td>
                            </tr>
                            <tr>
                                <td class="content-key grey-text">Genre</td>
                                <td class="grey-text" id="genre"></td>
                            </tr>
                            <tr>
                                <td class="content-key grey-text">Budget</td>
                                <td class="grey-text" id="budget"></td>
                            </tr>
                            <tr>
                                <td class="content-key grey-text">Box office</td>
                                <td class="grey-text" id="revenue"></td>
                            </tr>
                            <tr>
                                <td class="content-key grey-text">Country</td>
                                <td class="grey-text" id="country"></td>
                            </tr>
                            <tr>
                                <td class="content-key grey-text">Rating</td>
                                <td class="grey-text" id="rating"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/js/fallback.min.js"></script>
<script async type="text/javascript" src="/static/js/loaders/ui.js"></script>
<script async type="text/javascript" src="/static/js/loaders/eventbus.js"></script>
{{> templates/scripts/movies.js.hbs}}
</body>
</html>