<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#E3F2FD">
    <title>{{i18n "NAVBAR_SERIES" locale=lang}}</title>
    <link href="/static/css/custom/loader.min.css" type="text/css" rel="stylesheet" media="screen">
    <link href="/static/css/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet" media="screen">
    <link href="/static/css/custom/materialize.min.css" type="text/css" rel="stylesheet" media="screen">
    <link href="/static/css/clockpicker.css" type="text/css" rel="stylesheet" media="screen">
    <link href="/static/css/custom/base.css" type="text/css" rel="stylesheet" media="screen">
</head>
<body class="blue lighten-5 bc-image" id="body">
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
{{> templates/navbar.hbs}}
<h3 class="light grey-text text-lighten-1 page-heading truncate" id="movie-title">
    {{i18n "NAVBAR_SERIES" locale=lang}}
</h3>
<div class="row">
    <div class="col s12 m12 l12">
        <div class="row">
            <div class="col s12 m10 l10 offset-l1 offset-m1">
                <ul class="collapsible z-depth-0" data-collapsible="accordion" id="seen-series-coll">
                    <li class="z-depth-0">
                        <div class="collapsible-header collapsible-header-tv history-object">
                            <span>Vaatamisel olevad sarjad</span>
                        </div>
                        <div class="collapsible-body white">
                            <div class="row" id="seen-series-container">

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col movies-search-bar m10 offset-m1 l6 offset-l3">
                <div class="card z-depth-0 opacity-object">
                    <div class="search-wrapper input-field">
                        <input class="movies-search-bar movies-heading" tabindex="8" id="series-search" type="search"
                               placeholder="{{i18n "SERIES_SEARCH_FOR" locale=lang}}" required>
                        <label id="series-search-button" class="label-icon search-button" for="series-search">
                            <i class="fa fa-search left"></i></label>
                    </div>
                </div>
                <ul class="collapsible popout z-depth-0" data-collapsible="accordion" id="tv-table">
                <!-- Siia tuleb otsingu sisu jqueryga -->
                </ul>
            </div>
        </div>
    </div>
</div>
<script defer type="text/javascript" src="/static/js/custom/loader.js"></script>
<script defer type="text/javascript" src="/static/js/jquery.min.js"></script>
<script defer type="text/javascript" src="/static/js/custom/materialize.min.js"></script>
<script defer type="text/javascript" src="/static/js/sockjs.min.js"></script>
<script defer type="text/javascript" src="/static/js/custom/vertx-eventbus.js"></script>
<script defer type="text/javascript" src="/static/js/custom/clockpicker.js"></script>
<script defer type="text/javascript" src="/static/js/pages/series.js"></script>
</body>
</html>