<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#E3F2FD">
    <title>Wishlist</title>
    <link href="/static/css/custom/loader.css" type="text/css" rel="stylesheet" media="screen">
</head>
<body class="blue lighten-5">
<!-- Page loader -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
{{> templates/navigationBar.hbs}}
<h3 class="light grey-text text-lighten-1 page-heading">Wishlist</h3>
<script src="/static/js/fallback.min.js"></script>
<script src="/static/js/loaders/ui.js"></script>
</body>
</html>