<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#E3F2FD">
    <title>{{i18n "NAVBAR_WISHLIST" locale=lang}}</title>
    <link href="/static/css/custom/loader.min.css" type="text/css" rel="stylesheet" media="screen">
    <noscript>
        <link href="/static/css/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet" media="screen">
        <link href="/static/css/custom/materialize.min.css" type="text/css" rel="stylesheet" media="screen">
        <link href="/static/css/custom/base.css" type="text/css" rel="stylesheet" media="screen">
    </noscript>
</head>
<body class="blue lighten-5">
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
{{> templates/navbar.hbs}}
<h3 class="light grey-text text-lighten-1 page-heading">{{i18n "NAVBAR_WISHLIST" locale=lang}}</h3>
<div class="row">
    <div id="wishlist-result" class="col s12 m10 l8 offset-l2 offset-m1">
        <!-- Siia tuleb otsingu sisu jqueryga -->
    </div>
</div>
<script defer type="text/javascript" src="/static/js/custom/loader.js"></script>
<script defer type="text/javascript" src="/static/js/jquery.min.js"></script>
<script defer type="text/javascript" src="/static/js/custom/materialize.min.js"></script>
<script defer type="text/javascript" src="/static/js/sockjs.min.js"></script>
<script defer type="text/javascript" src="/static/js/custom/vertx-eventbus.js"></script>
<script defer type="text/javascript" src="/static/js/jquery-matchHeight.min.js"></script>
<script defer type="text/javascript" src="/static/js/pages/wishlist.js"></script>
</body>
</html>