<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wishlist</title>
    <link href="/static/css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" media="screen,projection">
    <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/static/css/custom/style.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="/static/css/custom/base.css" type="text/css" rel="stylesheet" media="screen,projection">
</head>
<body class="blue lighten-5">
{{> templates/navigationBar.hbs}}
<h3 class="light grey-text text-lighten-1 page-heading">Wishlist</h3>
<script type="text/javascript" src="/static/js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/static/js/materialize.min.js"></script>
<script type="text/javascript" src="/static/js/plugins.js"></script>
</body>
</html>